<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.mad_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_app">
        <activity android:name=".login"></activity>
        <activity android:name=".organizer_home" />
        <activity android:name=".organizer_organizer_info" />
        <activity android:name=".tournament_update" />
        <activity android:name=".team_update" />
        <activity
            android:name=".game_user_gamelist"
            android:exported="true" />
        <activity
            android:name=".game_update"
            android:exported="true" />
        <activity
            android:name=".game_display_user"
            android:exported="true" />
        <activity
            android:name=".game_org_gamelist"
            android:exported="true" />
        <activity android:name=".player_playerinfo" />
        <activity android:name=".player_stats" />
        <activity android:name=".tournament_user_selected_t" />
        <activity android:name=".tournament_home" />
        <activity android:name=".tournament_org_list" />
        <activity android:name=".team_create" />
        <activity android:name=".tournament_create" />
        <activity android:name=".Match_create" />
        <activity
            android:name=".game_create"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>